<footer class="site-footer">
  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li>©2024, Black Beyond Data</li>
        <li>
          <a href="mailto:thecaribbeandigital@gmail.com"
            >blackbeyonddata@gmail.com</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-col footer-col-2">
      <span
        >Banner art, "The Block is Hott// Air Walks," Mixed Media Collage
        (2021), by Soraya Jean-Louis.</span
      >
    </div>
  </div>
</footer>

<div class="fixed-footer" style="color: white">
  <img src="{{site.baseurl}}/images/logos/mellon.png" />
  <!-- <img src="{{site.baseurl}}/images/logos/barnard-logos.png" />
  <img src="{{site.baseurl}}/images/logos/uprrp.png" /> -->
  <!-- <img src="{{site.baseurl}}/images/logos/caribian.png" /> -->
</div>
